<%- include('../partials/header.ejs') %>
<%- include('../partials/section-head.ejs') %>

<% for(sponsor of sponsors) { %>
    <div class="section__row__content__card my-3 mx-3">
        <a class="section__row__content__card__image--sponsor" href="/sponsors/<%= sponsor._id %>" style="background-image: url('<%= sponsor.thumbnail %>');"></a>
        <h5 class="section__row__content__card__header--sponsor-name"><%= sponsor.name %></h5><span class="section__row__content__card__header--sponsor-year"><%= sponsor.startYear %></span>
        <div class="section__row__content__card__body--sponsor">
            <% if(sponsor.description.length > 175) { %>    
                <p class="section__row__content__card__body--sponsor-text"><%= sponsor.description.substring(0, 175) %><span class="ellipsis">  .  .  .  </span></p>
            <% } else { %>
                <p class="section__row__content__card__body--sponsor-text"><%= sponsor.description %></p>
            <% } %>
            <a href="/sponsors/<%= sponsor._id %>" class="section__row__content__card__button">View</a>
        </div>
    </div>
<% } %>

<%- include('../partials/section-foot.ejs') %>
<%- include('../partials/footer.ejs') %>