<%- include('../partials/header.ejs') %>
<%- include('../partials/section-head.ejs') %>

<% for(squad of squads) { %>
    <div class="section__row__content__card section__row__content__card--squads">
        <a class="section__row__content__card__image section__row__content__card__image--squad" href="/squads/<%= squad._id %>" style="background-image: url('<%= squad.thumbnail %>');"></a>
        <h5 class="section__row__content__card__header section__row__content__card__header--squad-name"><%= squad.name %></h5>
        <div class="section__row__content__card__body section__row__content__card__body--squad">
            <% if(squad.description.length > 175) { %>    
                <p class="section__row__content__card__body section__row__content__card__body--squad-text"><%= squad.description.substring(0, 175) %><span class="ellipsis">  .  .  .  </span></p>
            <% } else { %>
                <p class="section__row__content__card__body section__row__content__card__body--squad-text"><%= squad.description %></p>
            <% } %>
            <a href="/squads/<%= squad._id %>" class="section__row__content__card__button">View</a>
        </div>
    </div>
<% } %>


<%- include('../partials/section-foot.ejs') %>
<%- include('../partials/footer.ejs') %>