<%- include('../partials/header.ejs') %>

<section class="content">

    <div class="d-flex justify-content-center align-items-center show-image-container">

    </div>

    <div class="row mx-0">

        <div class="col-lg col-md">
        </div>

        <div class="col-lg-10 col-md-10">
            <div class="d-flex flex-column align-items-center">
                <h5><%= squad.name %></h5>
                <%= squad.game %>
                <%= squad.description %>
                <img src="<%= squad.photograph %>">
                <%= squad.startYear %>

                <% for(player of players) { %>
                    <img src="<%= player.thumbnail %>">
                    <%= player.name %>
                    <%= player.age %>
                    <%= player.handle %>
                    <%= player.bio %>
                    <%= player.joinDate %>
                <% } %>
            </div>
        </div>

        <div class="col-lg col-md">
        </div>

    </div>

</section>

<%- include('../partials/footer.ejs') %>