<%- include('../partials/header.ejs') %>
<%- include('../partials/section-head.ejs') %>

<% for(staffer of staffers) { %>
    <div class="section__row__content__card">
        <a class="section__row__content__card__image--staffer" href="/staffers/<%= staffer._id %>" style="background-image: url('<%= staffer.thumbnail %>');"></a>
        <h5 class="section__row__content__card__header--staffer-name"><%= staffer.name %></h5>
        <p class="section__row__content__card__header--staffer-name"><%= staffer.role %></p>
        <div class="section__row__content__card__body--staffer">
            <% if(staffer.bio.length > 175) { %>    
                <p class="section__row__content__card__body--staffer-text"><%= staffer.bio.substring(0, 175) %><span class="ellipsis">  .  .  .  </span></p>
            <% } else { %>
                <p class="section__row__content__card__body--staffer-text"><%= staffer.bio %></p>
            <% } %>
            <a href="/staffers/<%= staffer._id %>" class="btn btn-sm index-card-button mt-1">View</a>
        </div>
    </div>
<% } %>

<%- include('../partials/section-foot.ejs') %>
<%- include('../partials/footer.ejs') %>