<%- include('../partials/header.ejs') %>
<%- include('../partials/section-head.ejs') %>

<div class="col-6 section__row__content section__row__content--news">
    <% for(newspost of newsposts) { %>
        <div class="section__row__content__card section__row__content__card--news">
            <a class="section__row__content__card__image--news" href="/newsposts/<%= newspost._id %>" style="background-image: url('<%= newspost.thumbnail %>');"></a>
            <h5 class="section__row__content__card__header--news"><%= newspost.name %></h5>
            <p class="section__row__content__card__header--news-author"><%= newspost.author %></p>
            <p class="section__row__content__card__header--news-game"><%= newspost.author %></p>
            <div class="section__row__content__card__body--news">
                <% if(newspost.body.length > 175) { %>    
                    <p class="section__row__content__card__body--news-text"><%= newspost.body.substring(0, 175) %><span class="ellipsis">  .  .  .  </span></p>
                <% } else { %>
                    <p class="section__row__content__card__body--news-text"><%= newspost.body %></p>
                <% } %>
                <a href="/news/<%= newspost._id %>" class="section__row__content__card__button">View</a>
            </div>
        </div>
    <% } %>
</div>

<%- include('../partials/section-foot.ejs') %>
<%- include('../partials/footer.ejs') %>